*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: #ff8716;
    --p-color: #7b7b7b;    
    --bg-color: #F3F3F3;
    --white-color: #fff;
    --color-heading: #121416;
    --border-color: #e5e5e5d5;
    --Sale-color: #E51A1A;
}

span{
    color: var(--main-color);
}
p{
    color:var(--p-color);
}
h1,h2,h3,h4,h5,h6{
    color:var(--color-heading);
}
img{
    width: 100%;
}
input,select,button{
    border: none;
    outline:none;
}
.container{
width: 90%;
margin: auto;
max-width: 1360px;
}
@media (max-width:1360){
    .container{
        width: 90%;
    }
}
/* HEADER */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

}
header .container .logo{
    width: 200px;
}
header .container .search_box{
width: 610px;
display: flex;
align-items: center;
border-radius: 5px;
background-color: var(--bg-color);
}
header .container .search_box .select_box  {
position: relative;

}
header .container .search_box .select_box select {

height: 60px;
width: 200px;
background: var(--bg-color);
outline: none;
border: none;

}
header .container .search_box .select_box select option{
    font-size: 13px;
}
header .container .search_box .select_box::after{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 45%;
    background:rgb(167, 164, 164);

}


header .container .search_box input{
    padding: 20px 0;
height: 60px;
width: 350px;
background: var(--bg-color);
outline: none;
border: none;
}
header .container .search_box button{
width: 60px;
height: 60px;
outline: none;
border: none;
background-color: var(--main-color);
cursor: pointer;
}


.container .header_icons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.container .header_icons .icon {
    position: relative;
}

.container .header_icons .icon .count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
line-height: 20px;
text-align: center;
}
.container .header_icons .icon a i{
    color: var(--color-heading);
    font-size: 25px;
}
header .bottom_header{
    border-bottom: 1px solid var(--border-color);
}
.bottom_header .nav{
    display: flex;
    justify-content: space-between;
height:  ;
}